# Sources
!src/*

# Depot
!stellar.depot/*

# Compilation & Execution
target/
*.class
*.log
*.war
*.nar
*.ear
hs_err_pid*
replay_pid*

# IntelliJ IDEA
.idea/
.settings/
**/*.iml

# Eclipse
.settings/
.project
.classpath